.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.img-container{
    width:200px;
    height: 200px;
}

.img-container > img{
    width:100%;
    height: 80%;
    object-fit: cover;
}

.imgLabel{
    font-size: 13px;
    color:#666;
}

.inputLabel{
    margin:15px 0;
    padding:3px 7px;
    border:1px solid black;
    border-radius: 5px;
    text-align: center;
    
}